<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>공지사항 수정</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<h2>공지사항 수정</h2>
	    <form id="frm" method="post">
	    	<table class="board_detail">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${board.nboardidx }"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.nhitcnt }"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.ncreatorid }"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.nupdateddatetime }"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3"><input type="ntitle" id="ntitle" name="ntitle" th:value="${board.ntitle }"/></td>
					</tr>
					<tr>
						<td colspan="4" class="view_text">
							<textarea title="내용" id="ncontent" name="ncontent" th:text="${board.ncontent}"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="nboardidx" name="nboardidx" th:value="${board.nboardidx }">
			<input type="hidden" id="nupdatorid" name="nupdatorid" th:value="${board.ncreatorid }">
		</form>
		
		<div class="file_list">
			<a th:each="list : ${board.nfileList}" th:text="|${list.noriginalfilename} (${list.nfilesize} kb)|"></a>
			<a th:each="list : ${board.nfileList}" th:href="@{/board/downloadBoardFile.do(idx=${list.nidx}, boardIdx=${list.nboardidx})}" th:text="|${list.noriginalfilename}(${list.nfilesize} kb)|"></a>
		</div>
		
		<a href="#this" id="list" class="btn">목록으로</a>
		<a href="#this" id="edit" class="btn">수정하기</a>
		<a href="#this" id="delete" class="btn">삭제하기</a>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#list").on("click", function(){
				location.href = "/board/openBoardList.do";
			});
			
			$("#edit").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/board/updateBoard.do";
				frm.submit();
			});
			
			$("#delete").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/board/deleteBoard.do";
				frm.submit();
			});
		});
	</script>
</body>
</html>