<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수강후기 작성</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
</head>
<body>
    <div class="container">
        <h1>수강후기 작성</h1>
        <form id="frm" name="frm" method="post" action="/review/insertReview.do" enctype="multipart/form-data">
            <table class="board_detail">
                <tr>
                    <td>제목</td>
                    <td><input type="text" id="rtitle" name="rtitle"/></td>
                     <td>작성자</td>
                    <td><input type="text" id="rcreatorid" name="rcreatorid"/></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea id="rcontent" name="rcontent"></textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit" value="저장" class="btn"/>
        </form>
    </div>
</body>
</html>
